<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ep98.employee.dao.KaMapper">
  <resultMap id="BaseResultMap" type="com.ep98.employee.domain.Ka">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ka_name" jdbcType="VARCHAR" property="kaName" />
    <result column="ka_code" jdbcType="VARCHAR" property="kaCode" />
    <result column="ka_loginnames" jdbcType="VARCHAR" property="kaLoginnames" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ka_name, ka_code, ka_loginnames, score, create_by, create_time, update_by, update_time, 
    enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ka
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ka
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka (id, ka_name, ka_code, 
      ka_loginnames, score, create_by, 
      create_time, update_by, update_time, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{kaName,jdbcType=VARCHAR}, #{kaCode,jdbcType=VARCHAR}, 
      #{kaLoginnames,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kaName != null">
        ka_name,
      </if>
      <if test="kaCode != null">
        ka_code,
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kaName != null">
        #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    <set>
      <if test="kaName != null">
        ka_name = #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        ka_code = #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    set ka_name = #{kaName,jdbcType=VARCHAR},
      ka_code = #{kaCode,jdbcType=VARCHAR},
      ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ep98.employee.domain.Ka">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ka_name" jdbcType="VARCHAR" property="kaName" />
    <result column="ka_code" jdbcType="VARCHAR" property="kaCode" />
    <result column="ka_loginnames" jdbcType="VARCHAR" property="kaLoginnames" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ka_name, ka_code, ka_loginnames, score, create_by, create_time, update_by, update_time, 
    enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ka
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ka
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka (id, ka_name, ka_code, 
      ka_loginnames, score, create_by, 
      create_time, update_by, update_time, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{kaName,jdbcType=VARCHAR}, #{kaCode,jdbcType=VARCHAR}, 
      #{kaLoginnames,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kaName != null">
        ka_name,
      </if>
      <if test="kaCode != null">
        ka_code,
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kaName != null">
        #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    <set>
      <if test="kaName != null">
        ka_name = #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        ka_code = #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    set ka_name = #{kaName,jdbcType=VARCHAR},
      ka_code = #{kaCode,jdbcType=VARCHAR},
      ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ep98.employee.domain.Ka">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ka_name" jdbcType="VARCHAR" property="kaName" />
    <result column="ka_code" jdbcType="VARCHAR" property="kaCode" />
    <result column="ka_loginnames" jdbcType="VARCHAR" property="kaLoginnames" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ka_name, ka_code, ka_loginnames, score, create_by, create_time, update_by, update_time, 
    enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ka
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ka
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka (id, ka_name, ka_code, 
      ka_loginnames, score, create_by, 
      create_time, update_by, update_time, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{kaName,jdbcType=VARCHAR}, #{kaCode,jdbcType=VARCHAR}, 
      #{kaLoginnames,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kaName != null">
        ka_name,
      </if>
      <if test="kaCode != null">
        ka_code,
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kaName != null">
        #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    <set>
      <if test="kaName != null">
        ka_name = #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        ka_code = #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    set ka_name = #{kaName,jdbcType=VARCHAR},
      ka_code = #{kaCode,jdbcType=VARCHAR},
      ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ep98.employee.domain.Ka">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ka_name" jdbcType="VARCHAR" property="kaName" />
    <result column="ka_code" jdbcType="VARCHAR" property="kaCode" />
    <result column="ka_loginnames" jdbcType="VARCHAR" property="kaLoginnames" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ka_name, ka_code, ka_loginnames, score, create_by, create_time, update_by, update_time, 
    enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ka
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ka
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka (id, ka_name, ka_code, 
      ka_loginnames, score, create_by, 
      create_time, update_by, update_time, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{kaName,jdbcType=VARCHAR}, #{kaCode,jdbcType=VARCHAR}, 
      #{kaLoginnames,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kaName != null">
        ka_name,
      </if>
      <if test="kaCode != null">
        ka_code,
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kaName != null">
        #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    <set>
      <if test="kaName != null">
        ka_name = #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        ka_code = #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    set ka_name = #{kaName,jdbcType=VARCHAR},
      ka_code = #{kaCode,jdbcType=VARCHAR},
      ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ep98.employee.domain.Ka">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ka_name" jdbcType="VARCHAR" property="kaName" />
    <result column="ka_code" jdbcType="VARCHAR" property="kaCode" />
    <result column="ka_loginnames" jdbcType="VARCHAR" property="kaLoginnames" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ka_name, ka_code, ka_loginnames, score, create_by, create_time, update_by, update_time, 
    enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ka
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ka
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka (id, ka_name, ka_code, 
      ka_loginnames, score, create_by, 
      create_time, update_by, update_time, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{kaName,jdbcType=VARCHAR}, #{kaCode,jdbcType=VARCHAR}, 
      #{kaLoginnames,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ep98.employee.domain.Ka">
    insert into t_ka
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kaName != null">
        ka_name,
      </if>
      <if test="kaCode != null">
        ka_code,
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kaName != null">
        #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    <set>
      <if test="kaName != null">
        ka_name = #{kaName,jdbcType=VARCHAR},
      </if>
      <if test="kaCode != null">
        ka_code = #{kaCode,jdbcType=VARCHAR},
      </if>
      <if test="kaLoginnames != null">
        ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ep98.employee.domain.Ka">
    update t_ka
    set ka_name = #{kaName,jdbcType=VARCHAR},
      ka_code = #{kaCode,jdbcType=VARCHAR},
      ka_loginnames = #{kaLoginnames,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>